<script type="text/javascript"><!--
google_ad_client = "pub-7861382860239192";
/* 125x125, 作成済み 11/05/19 */
google_ad_slot = "1425045165";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
