<a name="fb_share" type="button_count" share_url="ZZZZZZ" href="http://www.facebook.com/sharer.php" style="margin-top:-3px;">Share</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
