アイディア／TODO

・finance.google.com的な関連銘柄へのリンク
  グリーが年初来高値、という記事ならば、「一方モバゲーは-32円と軟調だった」というような記事を入れられるとベスト。
  
・銘柄名のリンクでいきなりyahooに飛ばずに記事のリストに飛べるようにする。
・分割対応 20110928は色々ある。
・機能重視のずらっとニュースを並べたページも作るか。
・ポートフォリオ作りたくなってきた。各銘柄についてニュース出してくれると結構嬉しい。
・反発系のネタ欲しい。ずっと下がってたやつが反発したというニュース。
・１年間のbiggest winners/losers
・twitterに自動で流すやつに、「今日は日経平均は+100、マザーズ指数は・・」みたいなの入れたい。
・指数が更新できていないときがある。そのときに、次の更新でアップデートしてくれればいいのだがそれもない。
・時価総額を感覚的に表示。Gree２社分みたいな表示を適当に出すとか。
